@import "variable.scss";
@import "fonts.scss";
@import "header.scss";
@import "login.scss";
@import "sidebar.scss";
@import "style.scss";

body {
    font-family:$font-family-regular;
    background-color: #f9f9f9;
}
img {
    max-width: 100%;
    width: 100%;
}
p {
    font-size: 14px;
}
svg {
    vertical-align: middle;
}
p,a,h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family:$font-family-semi-bold;
	color: $primary-color;
}

.primaryBtn {
	background-color: $secondary-color;
	color: $primary-color;
	font-size: 14px;
	padding: 8px 25px;
	font-family: $font-family-bold;
}
.secondaryBtn {
	background-color: $secondary-color;
	color: #fff;
	font-size: 14px;
	border-radius: 15px;
	border: 1px solid $secondary-color;
	padding: 8px 25px;
	font-family: $font-family-bold;
	&:hover {
		color: $secondary-color;
		background-color: #fff;
	}
}
.mb-24{
 margin-bottom:24px;
}

/*----*/
.ant-layout-has-sider {
    padding-top: 64px;
    min-height: calc(100vh - 64px);
    padding-left: 200px;
}
.ant-layout-content {
    padding: 12px;
}

.bg-white { background-color: #ffffff; }
.bg-purple { background-color: #8e60ff; }
.bg-pink { background-color: #ff6061; }
.bg-yellow { background-color: #ffa800; }
.bg-sky { background-color: #0fb5c2; }
.bg-blue { background-color: #267dff; }
.bg-red { background-color: #E30D2A; }
.bg-teal { background-color: #00897b; }
.bg-grey { background-color: #d9d9d9; }
.bg-black { background-color: #000000; }

.text-white { color: #ffffff; }
.text-purple { color: #8e60ff; }
.text-pink { color: #ff6061; }
.text-yellow { color: #ffa800; }
.text-sky { color: #0fb5c2; }
.text-blue { color: #267dff; }
.text-red { color: #E30D2A; }
.text-teal { color: #00897b; }
.text-grey { color: #d9d9d9; }
.text-black { color: #000000; }