.ant-layout-sider {
    @media (max-width: 1199px) {
        left: -200px !important;
    }
}
.ant-layout-has-sider {
    @media (max-width: 1199px) {
        padding-left: 0 !important;
    }
}

body.test {
    &.show {
        .ant-layout {
            .ant-layout-has-sider {
                .ant-layout-sider {
                    left: 0 !important;
                    transition: all 0.5s !important;
                    @media (min-width: 1200px) {
                        // left: -200px !important;
                        left: -155px !important;
                        transition: all 0.5s !important;
                    }
                    .ant-layout-sider-children {
                        .menuList {
                            .ant-menu {
                                a {
                                    .ant-menu-item {
                                        text-align: right;
                                        transition: all 0.5s !important;
                                        .menuItem {
                                            display: none;
                                            transition: all 0.5s !important;
                                        }
                                    }
                                } 
                            } 
                        } 
                    } 
                }
            }
        }
        .ant-layout-has-sider {
            padding-left: 45px !important;
            transition: all 0.5s !important;
        }
    }
}

.ant-layout {
    .ant-layout-has-sider {
        .ant-layout-sider {
            background: #fff;
            z-index: 99;
            transition: all 0.5s !important;
            // @media screen and (max-width: 991px) {
            //     left: -200px !important;
            // }
            .ant-layout-sider-children {
                .menuList {
                    .ant-menu {
                        a {
                            .ant-menu-item {
                                color: #000;
                                margin: 0;
                                .ant-menu-title-content {
                                    .anticon {
                                        position: relative;
                                        top: -3px;
                                    }
                                }
                            }
                            &.router-link-active {
                                .ant-menu-item {
                                    background-color: #f0f2f5!important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: transparent!important;
}