.ant-layout-sider {
  background: #fff;
  .ant-layout-sider-children {
      .menuList {
          .ant-menu {
              a {
                  .ant-menu-item {
                      color: #000;
                      margin: 0;
                  }
                  &.router-link-active {
                      .ant-menu-item {
                          background-color: #f0f2f5;
                      }
                  }
              }
          }
      }
  }
}