$primary-color:#111;
$primary-color-100:#267dff4d;
$primary-color-contrast:#fff;
$secondary-color:#d9d9d9;
$black-color:#444;
$gray-color-100:#f9f9f9;
$gray-color-200:#e3e3e3;
$gray-color-300:#aaa;
$red-color:#E30D2A;
$yellow-color:#E29E19;
$white-color:#fff;


$font-family-regular:'poppins';
$font-family-bold:'poppinsbold';
$font-family-semi-bold:'poppins-semibold';

