button {
  margin: 4px;
}

.content {
  display: flex;
  justify-content: center;
}

.user {
  padding: 20px;
}

.video {
  display: flex;
  background: black;
  position: relative;
  border: 1px solid lightgrey;
  height: 300px;
  width: 100%;
  max-width: 500px;
  margin: 10px 0;
}

.video-local {
  display: flex;
  background: black;
  position: absolute;
  border: 1px solid lightgrey;
  height: 100px;
  width: 100px;
  top: 200px;
  right: 0px;
  transform: scaleX(-1);
}
